doctype html
html.no-js(lang="en")
    include ./header.pug
body
    include ./menu.pug
    .ui.main.container.segment
        h1 Welcome to the Movie Night Site!
    .ui.container
        form(action="/login", method="POST").ui.form
            //- csrf token goes here
            .field
                label Name
                input(type="text", name="logInfo[name]", placeholder="name", required="true")
            .field
                label Passkey
                input(type="password", name="logInfo[key]", placeholder="passkey", required="true")
            input(type="hidden", name="_csrf", value=csrfToken)            
            input(type="submit").ui.violet.basic.button