.ui.fixed.inverted.menu
            .ui.container
                .header.item 
                    i.film.icon
                    |Movie Night                
                if loggedOn
                    a(href="/movies").item Movies
                    a(href="/food").item Food
                    a(href="/logout").item Logout
