body {
    background: yellowgreen;
    margin-top: 60px;
}

i.icon{
    font-size: 2em;
}

.main.container {
    margin-top: 7.0em;
}

#addMovie{
    margin-bottom: 20px;   
}

#resetForm{
    margin-top: 10px;
}

 #selectedBy{
    margin-bottom: 2px;
} 

.card{
    border: 0px;
}

#copyright{
    margin-top:30px;
}

.warning{
    color: red;
}

.ui.container.mainBody{
    margin-bottom: 20px;
}

.ui.violet.button:not(.fluid){
    width: 194px;
}

.ui.violet.button:hover{
    background-color: black;
}

.ui.violet.button:active{
    background-color: white;
    color: #6435C9;
}

.ui.violet.fluid.button:hover{
    background-color: #6435C9;
}

.ui.violet.fluid.button:active{
    background-color: white;
    color: #6435C9;
}

.ui.red.button:hover{
    background-color: black;
}

.ui.red.button:active{
    background-color: white;
    color: red;
}